# Python
__pycache__/
*.pyc

# Runtime files
result.json
command.json
report.csv
last_operation.json

# some files no need to be tracked
ai_server/mcp_server1.py
ai_server/run_all.py

# Environment
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db
